html, body {
    margin: 0;
    height: 100%;

}
.container{
    background-color: #f5d033;
    height: 100%;
    padding: 0px;
}
.title-balk{
    background-color: black;
    color: #f5d033;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
button{
    color: #f5d033;
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}


.bier{
    border-color: black;
    border-radius: 4px;
    background-color: white;
    color: black;
    width: 75%;
}



.bier h3{
    font-size: medium;
}

.bier ul{
    padding: 0px;
    list-style-type: none;
}

.visible{
    display: inline;
}

.invisible{
    display: none;
}
