.container{
    background-color: #f5d033;
}

button{
    color: #f5d033;
    background-color: black;
    border-radius: 8px;
    padding: 10px;
}

.bier{
    border-color: black;
    border-radius: 4px;
    background-color: white;
}
